footer {
  @include max-width-page;
  padding-top: 20px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;

  @include desktop {
    align-items: flex-start;
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  a {
    color: $paleblue;

    &:hover {
      color: $blue;
    }
  }

  svg {
    height: 20px;
    fill: currentColor;
  }

  .copyright {
    font-size: 15px;
    color: $paleblue;

    span {
      display: block;

      @include desktop {
        display: inline;

        &:after {
          content: '—';
        }
      }
    }
  }
}
