footer {
  @include max-width-page;
  padding-top: 20px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;

  @include desktop {
    align-items: flex-start;
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 40px;
    align-items: center;

    @include desktop {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  a {
    color: $paleblue;

    &:hover {
      color: $blue;
    }
  }

  .internal {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 12px;
      column-gap: 40px;
    }

    a {
      font-size: 17px;
    }

    a.active {
      text-decoration: underline;
    }
  }

  .socials {
    display: flex;
    gap: 20px;

    a, svg {
      height: 17px;
    }

    svg {
      fill: currentColor;
    }
  }

  .copyright {
    font-size: 14px;
    color: $paleblue;

    span {
      display: block;

      @include desktop {
        display: inline;

        &:after {
          content: '—';
        }
      }
    }
  }
}
