footer {
  @include max-width-page;
   padding-top: 80px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    gap: 24px;

 nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px 40px;

    @include desktop {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  a {
    color: $paleblue;

    &:hover {
      color: $blue;
    }
  }

  .internal {
  display: flex;
    flex-wrap: wrap;
    gap: 6px 36px;

    @include desktop {
      gap: 12px 40px;
    }


    a {
      font-size: 17px;
    }

    a.active {
      text-decoration: underline;
    }
  }

  .socials {
    display: flex;
    gap: 20px;

    a, svg {
      height: 17px;
    }

    svg {
      fill: currentColor;
    }
  }

  .copyright {
    font-size: 14px;
    color: $paleblue;

    span {
      display: block;

      @include desktop {
        display: inline;

        &:after {
          content: '—';
        }
      }
    }
  }
}
