.navigation {
  position: sticky;
  top: 0;

  nav {
    @include max-width-page;

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;

    @include desktop {
      padding-top: 19px;
      padding-bottom: 19px;
    }
  }

  img {
    height: 55px;
    width: auto;

    @include desktop {
      height: 75px;
    }
  }

  a {
    font-size: 15px;
    letter-spacing: 1px;
  }
}
