.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  nav {
    @include max-width-page;

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    height: $menu-height-mobile;

    @include desktop {
      height: $menu-height-desktop;
    }
  }

  img {
    height: 55px;
    width: auto;

    @include desktop {
      height: 75px;
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: 20px;

    @include desktop {
      gap: 32px;
    }
  }

  a {
    font-size: 15px;
    letter-spacing: 1px;
  }
}
