<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
<head>
  <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

  {{ partial "head.html" . }}
</head>

<body>
  <div class="page">
    {{ partial "navigation.html" . }}

    <div class="scrollable-content">
      <main>
        {{ if ne .IsHome true }}
        <div class="no-snap">
          {{ block "main" . }}{{ end }}
        </div>
        {{ else }}
        {{ block "main" . }}{{ end }}
        {{ end }}
      </main>

      {{ partial "footer.html" . }}
    </div>
  </div>
</body>
</html>
