<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
<head>
  <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

  {{ partial "head.html" . }}
</head>

<body {{ if .IsHome }}class="graphic-bg"{{ end }}>
  <div class="page">
    {{ partial "navigation.html" . }}

    <div class="scrollable-content">
      <main>
        {{ block "main" . }}{{ end }}
      </main>

      {{ partial "footer.html" . }}
    </div>
  </div>
</body>
</html>
