dl {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;

  @include desktop {
    grid-template-columns: auto 1fr;

    dt {
      grid-column: 1;
    }

    dd {
      grid-column: 2;
    }
  }

  dt {
    color: $blue;
  }

  dd {
    margin: 0;
  }

  &.large {
    gap: 16px;

    @include desktop {
      row-gap: 40px;
      column-gap: 80px;
    }

    dd {
      @include mobile {
        margin-bottom: 24px;
      }
    }

    dt {
      @extend h3;
    }
  }
}

dl + dl {
  margin-top: 20px;
}