// Ordered
@import 'variables';
@import 'mixins';

// Other
@import 'typography';
@import 'theme';

// Components
@import 'components/button';
@import 'components/dl';

// Partials
@import 'partials/navigation';
@import 'partials/footer';

// Pages
@import 'pages/home';
@import 'pages/list';
@import 'pages/single';

body {
  $gradient: linear-gradient(207.28deg, #040421 33.08%, #141432 100%);

  margin: 0;
  background-image: $gradient;
  min-height: 100vh;

  &.graphic-bg {
    background-image: url('/images/background.svg'), $gradient;
    background-repeat: no-repeat;
    background-size: auto 100vh, 100%;

    @include desktop {
      background-size: 100% 100vh, 100%;
    }
  }
}

div {
  box-sizing: border-box;
}

.scrollable-content {
  position: fixed;
  top: $menu-height-mobile;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 24px;

  @include desktop {
    top: $menu-height-desktop;
  }

  main {
    @include max-width-page;
    flex: 1;
  }
}
