$breakpoint: 768px;

@mixin mobile {
  @media (max-width: calc(#{$breakpoint} - 1px)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin max-width-page {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  padding-left: $offset-x;
  padding-right: $offset-x;
  box-sizing: border-box;
}