@mixin font-face($name, $weight) {
  @font-face {
    font-family: "Suisse Int'l";
    font-weight: $weight;
    font-display: swap;

    src: url('/fonts/suisse/SuisseIntl-#{$name}.woff2') format('woff2'),
      url('/fonts/suisse/SuisseIntl-#{$name}.woff') format('woff');
  }
}

$weights: (
  Ultralight: 100,
  Thin: 200,
  Light: 300,
  Regular: 400,
  Book: 500,
  Medium: 600,
  SemiBold: 700,
  Bold: 800,
  Black: 900
);

@each $name, $weight in $weights {
  @include font-face($name, $weight);
}

body {
  background-color: $navy;
  color: $grey;

  font-family: "Suisse Int'l", sans-serif;
  font-size: 19px;
  line-height: 25px;
}

h1, h2 {
  font-family: 'Alliance No.2', sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 43px;

  @include desktop {
    font-size: 42px;
    line-height: 50px;
  }

  color: $grey;
}

h2 {
  font-size: 30px;
  line-height: 38px;
}

h3 {
  font-size: 19px;
  line-height: 23px;
}

a {
  color: $blue;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $paleblue;
  }
}