body {
  background-color: $navy;
  color: $grey;

  font-family: "Suisse Int'l", sans-serif;
  font-size: 19px;
  line-height: 25px;
}

h1, h2 {
  font-family: 'Alliance No.2', sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 43px;

  @include desktop {
    font-size: 42px;
    line-height: 50px;
  }

  color: $grey;
}

h2 {
  font-size: 30px;
  line-height: 38px;
}

h3 {
  font-size: 19px;
  line-height: 23px;
}

a {
  text-decoration: none;
}