// Colors
$white: #fff;
$blue: #6EC5EE;
$navy: #080820;
$grey: #E6E6E9;
$paleblue: #94B2CD;

// Sizes
$offset-x: 32px;
$menu-height-mobile: 100px;
$menu-height-desktop: 120px;
$footer-height-desktop: 110px;