<footer>
	<nav>
		<div class="internal">
			{{ range .Site.Params.footer.nav }}
			{{ $active := eq .url $.RelPermalink }}
			<a href="{{ .url }}" class="{{ if $active }}active{{ end }}">{{ .title }}</a>
			{{ end }}
		</div>
		
		<div class="socials">
			{{ range .Site.Params.footer.socials }}
			<a class="symbol" href="{{ .url }}" target="_blank">
				{{ $icon_path := printf "%s%s%s" "svgs/" .icon ".svg" }}
				{{ partial $icon_path }}
			</a>
			{{ end }}
		</div>
	</nav>
	
	
	<div class="copyright">
		<span>
			© {{ now.Year }} Invopop Ltd.
		</span>
		Proudly open source.
	</div>
</footer>
