#single {
  max-width: 605px;
  padding-top: 20px;

  @include desktop {
    padding-top: 60px;
  }

  h1 {
    margin-bottom: 24px;
  }

  .article-info {
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    gap: 10px 16px;

    @include desktop {
      flex-direction: row;
    }
  }
}