{{ define "main" }}
<div id="home">
	<div class="intro">
		<h1>Open source global invoicing in JSON</h1>

		<p class="text-paleblue">
			GOBL makes it easier to build, share, and convert invoices globally
			with <a href="https://json-schema.org/" target="_blank">JSON Schema</a>.
		</p>

		<a class="btn" href="https://docs.gobl.org/">Learn more</a>
	</div>

	<div class="solution">
		<h2>Everything you need to simplify electronic business documents, starting with invoices.</h2>

		<dl class="large">
			<dt>
                <a href="https://docs.gobl.org/draft-0">
					JSON Schema
                </a>
			</dt>
			<dd>
				Defines how to create Business Documents in JSON, the most pragmatic communication format created to date: easy to read by humans and computers alike.
			</dd>
			<dt>
                <a href="https://github.com/invopop/gobl">
				    Library and toolkit
                </a>
			</dt>
			<dd>
				Defines in code the structures and calculations required so that developers can focus on just getting the basics right.
			</dd>
			<dt>
                <a href="https://github.com/invopop/gobl/tree/main/regimes">
				    Global tax database
                </a>
			</dt>
			<dd>
				Contains local taxes and validation rules, designed to reach every corner of the world.
			</dd>
			<dt>
                <a href="https://docs.gobl.org/overview/tools">
					Conversion tools
                </a>
			</dt>
			<dd>
				Create your invoices once using GOBL, and convert them into other local formats easily: CFDI, UBL, FacturaE, FatturaPA, etc.
			</dd>
			<dt>
				<a href="https://github.com/invopop/gobl">
					Open Source & Community
				</a>
			</dt>
			<dd>
				We believe in open source and the power of community. We're building GOBL with the help of developers around the world.
			</dd>
		</dl>
	</div>

	<div class="next-steps">
		<h2>Simple, structured, and easy to share.</h2>

		<p>
			We envision a future in which companies of any size or location can communicate electronically. Get started with GOBL today:
		</p>

		<dl class="large">
			<dt>
				<a href="https://docs.gobl.org/">
					Read the docs
				</a>
			</dt>
			<dt>
				<a href="https://github.com/invopop/gobl" target="_blank">
					Contribute on GitHub
				</a>
			</dt>
			<dt>
				<a href="https://join.slack.com/t/goblschema/shared_invite/zt-20qu1s0cm-AUE8oYbGly681EsYdDiqxw" target="_blank">
					Discuss on Slack
				</a>
			</dt>
		</dl>
	</div>
</div>
{{ end }}
