{{ define "main" }}
<main id="home">
	<div class="scroll-snap">
		<div class="intro">
			<h1>Electronic business documents for the modern developer.</h1>

			<p class="text-paleblue">
				GOBL is an open-source schema, library, and database that simplifies the creation of invoices around the world.
			</p>

			<a class="btn" href="https://docs.gobl.org/">Learn more</a>
		</div>

		<div class="issues">
			<h2>
				Staggering amounts of time are wasted dealing with inefficient paper documents and archaic electronic formats.
			</h2>

			<div class="columns">
				<p>
					Businesses have to manually extract data from paper receipts and PDFs which don't contain structured data.
				</p>
				<p>
					Standards like XML and Text formats don't reflect the way our programming languages store or transfer data.
				</p>
				<p>
					It's hard to understand the rules, types of taxes, and general formats required in any given market.
				</p>
			</div>

			<p>
				Dealing with this on a global scale is
				<mark>
					just a <span class="line-through">fucking</span> nightmare!
				</mark>
			</p>
		</div>

		<div class="solution">
			<h2>Everything you need to simplify electronic business documents, starting with invoices:</h2>

			<dl>
				<dt>
					A JSON Schema
				</dt>
				<dd>
					Defines how to create Business Documents in JSON, the most pragmatic communication format that has ever existed: easy to ready by humans and computers alike.
				</dd>
				<dt>
					A library and toolset
				</dt>
				<dd>
					Defines in code the structures and calculations required so that users can focus on just getting the basics right.
				</dd>
				<dt>
					A global tax database
				</dt>
				<dd>
					Contains local taxes and validation rules, designed to reach every corner of the world.
				</dd>
			</dl>
		</div>

		<div class="next-steps">
			<h2>Simple, structured, and easy to share.</h2>

			<p>
				We envision a future where everything we sell and buy generates a structured electronic document that can be sent and read by any platform around the world.
			</p>

			<dl>
				<dt>
					<a href="https://docs.gobl.org/">
						Read the docs
					</a>
				</dt>
				<dt>
					<a href="https://github.com/invopop" target="_blank">
						Contribute on GitHub
					</a>
				</dt>
				<dt>
					<a href="/posts">
						See what's new
					</a>
				</dt>
			</dl>
		</div>
	</div>
</main>
{{ end }}